@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("./css/input.css");
@import url("./css/animations.css");

.bg-gradient {
  @apply bg-gradient-to-tl from-blue-300 via-blue-500 to-blue-500;
  /* background: linear-gradient(
    95.48deg,
    #0d5ca9 10.26%,
    #2a80d0 58.15%,
    #539ee7 104.56%
  ); */
}

h1.h1 {
  @apply text-4xl font-semibold text-cinder-500;
}
h2.h2 {
  @apply text-2xl font-semibold text-cinder-500;
}
p {
  @apply text-cinder-400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.container-dashboard-page {
  @apply px-10 py-8 lg:px-12 lg:pt-14;
}
.bg-blur {
  background: rgb(17, 17, 17, 0.04);
  backdrop-filter: blur(10px);
}

.content-wrapper {
  height: calc(100vh - 7rem);
  width: calc(100vw - 16rem);
}

/* scroll-bar firefox */
.scroll-firefox {
  scrollbar-width: thin;
  scrollbar-color: gray;
}
.scroll-firefox:-webkit-scrollbar {
  width: 11px;
}
.scroll-firefox:-webkit-scrollbar-track {
  background: transparent;
}
.scroll-firefox:-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 6px;
  border: 3px solid transparent;
}

@media screen and (max-width: 1023px) {
  .content-wrapper {
    width: 100%;
  }
}
.gmnoprint {
  @apply hidden;
}
.map-container {
  height: calc(100vh - 25rem);
  min-height: 400px;
}
@media screen and (max-width: 1279px) {
  .map-container {
    height: auto;
  }
}
